.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}
body {
  transition: all 0.5s;
}
div {
  border: 0px solid;
}

main {
  display: flex;
  border-bottom: 0.5px solid;
  border-color: #cacaca;
  height: 100vh;
}




#header {
  background-color: white;
  border-bottom: 0.5px solid;
  border-color: #cacaca;
  display: flex;
  justify-content: baseline;
  padding: 1rem;
}
#header * {
  margin: 0rem 2rem;
}

body {
  background-color: white;
}

button {
  box-sizing: content-box;
  border: 0.2px solid;
  background-color: white;
  border-color: #cacaca;
  width: 200px;
  border-top: none;
}

.explanation * {
  padding: 0rem 2rem;
}
.explan {
  overflow-y: scroll;
  margin: 0rem 2rem;

  width: 100%;
}

input {
  text-align: center;
  width: 200px;
  border: 0.2px solid;
  border-bottom: none;
  border-color: #cacaca;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  border-right: 0.5px solid;
  border-color: #cacaca;
}
.input-item * {
  padding: 10px 0px;
  margin: 0px 5px;
}

::placeholder {
  text-align: center;
}

.select * {
  border-style: none;
  border-radius: 0.2rem;
}

.select {
  margin: 2rem;
}



@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  .input {
    width: 100%;
    
  }
  main * {
    padding: 0;
    margin: 0;
  }
  .table {
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
}