.container {
  display: flex;
  flex-direction: column;
}

div {
  border: 0px solid;
}

main {
  display: flex;
  max-height: 50vh;
}

#header {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
}

body {
  background-color: rgba(235, 235, 235, 0.39);
}
.explanation {
  display: flex;
  padding: 2rem;
  overflow-y: scroll;
}
.explanation * {
  padding: 0rem 2rem;
}
.explan {
  overflow-y: scroll;

  width: 100%;
}
.input {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.input-item * {
  padding: 10px 0px;
  margin: 0px 5px;
}

.select {
  margin: 2rem 0rem;
}

::placeholder {
  text-align: center;
}
.select select {
  padding: 0.5rem 1rem;
}
.select * {
  border-style: none;
  border-radius: 0.2rem;
}

#result {
}
